jupyter==1.0.0
matplotlib==3.2.1
numpy==1.18.1
Pillow==7.1.1
torch==1.5.0
tqdm==4.42.1
transformers==2.10.0
Flask==1.1.2
gunicorn==20.0.4
fastapi==0.54.1
aiohttp==3.6.2
streamlit==0.59.0
black==19.10b0
torchserve==0.0.1b20200409
torch-model-archiver==0.1.0b20200409
httpie==2.1.0
awscli==1.18.66
wandb==0.8.36
uvicorn==0.11.5
isort==4.3.21